# Build output
dist/

# Generated types
.astro/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.production

# MacOS-specific files
.DS_Store

# Vitepress
**/.vitepress/dist
**/.vitepress/cache

# Avoiding merge conflicts from different machines
docs/.obsidian/workspace.json

# Avoid publishing daily notes
docs/2023/**
docs/2024/**
docs/2025/**

